<h1>New User</h1>

<%= form_with model: @user do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :age %><br>
      <%= form.text_area :age %>
    </div>
  
    <div>
      <%= form.submit %>
      <p><%= link_to "Home", users_path%></p>
    </div>
  <% end %>


